@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}
  
body {
    font-family: "Montserrat", sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.reynaBody {
    background-image: url("../images/Reyna/ReynaBackground.webp");
}
.brimBody {
    background-image: url("../images/Brimstone/brimstoneBackground.jpg"); 
}

.viperBody {
    background-image: url("../images/Viper/viperBackground.webp");
}

.razeBody {
    background-image: url("../images/Raze/razeBackground.webp");
}

.phoenixBody {
    background-image: url("../images/Phoenix/phoenixBackground.webp");
}

.index {
    background-image: url("../images/background.png");
}

li,a{
    font-family: "Montserrat",sans-serif;
    font-size: 16px;
    padding: 14px 16px;
    color: white;
    float:left;
    text-decoration: none;
}

.active {
    background-color: #E53C4D;
}

nav{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #333;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items:center;
    padding:30px 10%;
}

.nav_links{
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding:  0px 20px;
}

.nav_links li a:hover{
    color:#E53C4D
}

.leftNav {
    float:left
}

.agent {
    position:relative;
    top: 80px;
}

.agent h1 {
    text-align: center;
    color:#E53C4D;
    font-weight: 900;
    position: relative;
    
}

.agent h2 {
    border-bottom: 2px solid #E53C4D;
    padding-bottom: 5px;
    font-size: 40px;
    margin-left: 5px;
    font-weight: bold;
    color:black;
}

.agent p{
    margin-top: 5px ;
    color:black;
    font-weight: bold;
    width:80%;
    margin-left: 5px;
    float:left;
    background-color: rgba(200, 200, 200, 0.8);
}

.secondParagraph{
    position: relative;
    top:10px;
}

.container{
    margin: 0 auto;
    width:500px;
    height:250px;
    clear: both;
    display:grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 200px;
    grid-row-gap: 20px;
    position:relative;
    right: 50px;
    grid-auto-rows: 200px;
    grid-auto-columns: 500px;
    top:40px;
}

.box{
    display:flex;
    background-color:#333;
    padding:40px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius:10px;
    color:#fff;
    align-items:center;
    justify-content:center;
    font-size:40px;
    font-family:sans-serif;
}
.ability {
    position: relative;
    height: 150px;
    border-radius: 10%;
    top:-13px;
}

.abilityText {
    font-size: 15px;
    background-color:#333;
    position: absolute;
    bottom:55px;
}

.abilityTextBottom {
    position:absolute;
    font-size:15px;
    bottom:-170px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
    padding-bottom: 20px;
  }

table {
    width: 80%;
    margin: 50px auto;
    border-collapse: collapse;
    background-color: #dddddd;
}

th,td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333;
    color:whitesmoke;
}


.Mapstats {
    position:relative;
    top:200px;
    padding-bottom:50px;
}

footer {
    clear:both;
    position: relative;
    top:250px;
    width:100%;
    padding-bottom:30px;
    color:whitesmoke;
    background-color: #333;
}

.indexBox {
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: #333;
    padding: 40px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    position: relative;
    top:125px;
}

.indexBox p {
    margin-top: 50px;
    font-size: 30px;
    font-family: "Montserrat";
}